In [42]:
import numpy as np

In [43]:
#col = (age, maths, science)
data = np.array([
    [18, 85, 78],   #Student1
    [19, 92, 88],   #st2
    [17, 76, 95],
    [18, 65, 70],
    [20, 90, 85]
])

In [44]:
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [45]:
#get shape of matrix
data.shape

(5, 3)

In [46]:
#find avg age of students
np.mean(data[:,0])

np.float64(18.4)

In [47]:
#Extract maths marks of all students
data[:,1]

array([85, 92, 76, 65, 90])

In [48]:
#find the highest science marks
np.max(data[:,2])

np.int64(95)

In [49]:
#find the details of student who scored more than 90 in maths
data[data[:,1] > 90]

array([[19, 92, 88]])

In [50]:
#increase maths marks of all students by 5
data[:,1] += 5

In [51]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [52]:
#find how many students are younger than 19
len(data[data[:,0] < 19])

3

In [53]:
# calculate the avg marks in each subject (column wise mean)
np.mean(data[:,1:], axis = 0)  # 0->col, 1 -> row

array([86.6, 83.2])

In [55]:
# replace all science marks less than 75 with 0
data[:,2][data[:,2] < 75] =0
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])